@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #111;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#youtube_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#youtube_main .sidebar {
  width: 18%;
  padding: 25px;
  background-color: #F8F8F8;
}

#youtube_main .sidebar > .logo {
  display: block;
  margin-bottom: 40px;
}

#youtube_main .sidebar > .logo img {
  max-width: 130px;
}

#youtube_main .sidebar .line, #youtube_main .sidebar .line_mnu {
  margin: 40px auto;
  height: 1px;
  background-color: #A4A4A4;
  opacity: .4;
}

#youtube_main .sidebar > .mnu_sidebar {
  list-style-type: none;
}

#youtube_main .sidebar > .mnu_sidebar > li {
  display: block;
  margin-bottom: 39.4px;
}

#youtube_main .sidebar > .mnu_sidebar > li:last-child {
  margin-bottom: 0;
}

#youtube_main .sidebar > .mnu_sidebar > li > a {
  text-decoration: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #111;
  font-weight: 500;
  position: relative;
}

#youtube_main .sidebar > .mnu_sidebar > li > a > img {
  margin-right: 20px;
  max-width: 20px;
  height: auto;
  display: block;
}

#youtube_main .sidebar > .mnu_sidebar > li > a > b {
  font-weight: 400;
}

#youtube_main .sidebar > .mnu_sidebar > li > a > span.number {
  color: #F4003F;
  margin-left: 20px;
}

#youtube_main .sidebar > .mnu_sidebar > li > a::before {
  content: '';
  height: 100%;
  width: 3px;
  border-radius: 10px;
  background-color: #F4003F;
  position: absolute;
  left: -25px;
  top: 0;
  opacity: 0;
}

#youtube_main .sidebar > .mnu_sidebar > li > a:hover::before {
  opacity: 1;
}

#youtube_main .sidebar #logout_btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #111;
  margin-bottom: 50px;
  display: block;
}

#youtube_main .sidebar .copy {
  font-size: 14px;
  color: #A4A4A4;
}

#youtube_main .content {
  width: 82%;
}

#youtube_main .content.content-full {
  width: 100%;
}

#youtube_main .content #header {
  padding: 15px 25px;
  position: relative;
  border-bottom: 1px solid rgba(198, 198, 198, 0.58);
}

#youtube_main .content #wrapper_content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#youtube_main .content #wrapper_content > .left_side {
  padding: 35px;
  width: 75%;
  border-right: 1px solid rgba(198, 198, 198, 0.58);
}

#youtube_main .content #wrapper_content > .left_side > .line {
  height: 1px;
  background-color: rgba(198, 198, 198, 0.58);
  width: 100%;
  margin: 25px 0;
}

#youtube_main .content #wrapper_content > .left_side > .weekly_featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#youtube_main .content #wrapper_content > .left_side > .weekly_featured > .info_wf {
  width: 50%;
  padding-right: 15px;
}

#youtube_main .content #wrapper_content > .left_side > .weekly_featured > .info_wf > .sub_name {
  font-size: 18px;
  font-weight: 500;
}

#youtube_main .content #wrapper_content > .left_side > .weekly_featured > .info_wf > h1 {
  font-size: 24px;
  margin: 30px 0 20px;
}

#youtube_main .content #wrapper_content > .left_side > .weekly_featured > .info_wf > .descr {
  color: #A4A4A4;
  font-size: 12px;
  margin-bottom: 20px;
}

#youtube_main .content #wrapper_content > .left_side > .weekly_featured > .top_video {
  width: 50%;
  padding-left: 15px;
}

.title_gray {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_gray > h2 {
  font-size: 18px;
  margin-right: 20px;
}

.title_gray > .showmore {
  color: #A4A4A4;
  cursor: pointer;
}

#recommended > .top_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

#recommended > .top_block > .sort {
  font-size: 12px;
  font-weight: 500;
}

#recommended > .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

#recommended > .catalog > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc((100% / 4) - 2rem);
          flex: 1 1 calc((100% / 4) - 2rem);
  width: 23%;
  margin-bottom: 10px;
}

#wrapper_content > .right_side {
  width: 25%;
  padding: 35px;
  position: relative;
}

#wrapper_content > .right_side .showmore {
  font-size: 12px;
}

#wrapper_content > .right_side .video_live_item {
  margin-top: 25px;
}

#wrapper_content > .right_side .line {
  background-color: rgba(198, 198, 198, 0.58);
  height: 1px;
  width: 100%;
  margin: 30px 0;
}

#wrapper_content > .right_side #top_channels {
  margin-bottom: 100px;
}

#wrapper_content > .right_side #top_channels .title_gray {
  margin-bottom: 20px;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel .info_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel .info_left > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel .info_left > a > span {
  margin-right: 15px;
  border-radius: 50%;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel .info_left > .info > .name {
  position: relative;
  font-weight: 500;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel .info_left > .info > .subs {
  color: #A4A4A4;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel > .mnu {
  text-decoration: none;
}

#wrapper_content > .right_side #top_channels .list_channels > .channel > .mnu > img {
  max-width: 10px;
}

.verified::after {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url("../../../public/img/common/correct.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 15px;
  display: inline-block;
  background-size: cover;
}
/*# sourceMappingURL=old-styles.css.map */