.editor{
    position:relative;
    display:block;
    margin-top: 5px;
    margin-bottom: 20px;
    >textarea{
        @apply w-full border-b;
        min-height: 200px;

        &::placeholder{
            color:#A4A4A4;
        }
    }
}
.error{
    @apply absolute -bottom-4 left-0 text-sm w-full;
    font-size:0.5rem;
    color: red;
}