@import "./_variables";

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		
	&:focus{
		outline: none
	}
		
}
	

*::-webkit-input-placeholder{
	color: #c0c0c0;
	opacity: 1;
}
	

*:-moz-placeholder{
	color: #c0c0c0;
	opacity: 1;
}
	

*::-moz-placeholder{
	color: #c0c0c0;
	opacity: 1;
}
*:-ms-input-placeholder{
	color: #c0c0c0;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #000
}
body input:required:valid,
body textarea:required:valid{
	color: #000
}
	

html,body{
	height: 100%
}
	

body{
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
	color: #111;
}
img{
	max-width: 100%;
}
	

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

#youtube_main{
	display: flex;
	flex-wrap: wrap;
	.sidebar{
		width: 18%;
		padding: 25px;
		background-color: #F8F8F8;
		>.logo{
			display: block;
			margin-bottom: 40px;
			img{
				max-width: 130px;
			}
				
		}
			
		.line, .line_mnu{
			margin: 40px auto;
			height: 1px;
			background-color: $gray;
			opacity: .4;
		}
			
		>.mnu_sidebar{
			list-style-type: none;
			>li{
				display: block;
				margin-bottom: 39.4px;
				&:last-child{
					margin-bottom: 0;
				}
					
				>a{
					text-decoration: none;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					font-size: 14px;
					color: #111;
					font-weight: 500;
					position: relative;
					>img{
						margin-right: 20px;
						max-width: 20px;
						height: auto;
						display: block;
					}
						
					>b{
						font-weight: 400;
					}
						
					>span.number{
						color: $red;
						margin-left: 20px;
					}
					&::before{
						content: '';
						height: 100%;
						width: 3px;
						border-radius: 10px;
						background-color: $red;
						position: absolute;
						left: -25px;
						top: 0;
						opacity: 0;
					}
					&:hover::before{
						opacity: 1;
					}
				}	
			}	
		}
		#logout_btn{
			text-decoration: none;
			font-size: 14px;
			font-weight: 500;
			color: #111;
			margin-bottom: 50px;
			display: block;
		}
		.copy{
			font-size: 14px;
			color: $gray;
		}
	}
		
	.content {
		width: 82%;
        &.content-full{
			width:100%;
		}
		#header{
			padding: 15px 25px;
			position: relative;
			border-bottom: 1px solid $light_gray;
		}
		#wrapper_content{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			>.left_side{
				padding: $gutter40;
				width: 75%;
				border-right: 1px solid $light_gray;
				>.line{
					height: 1px;
					background-color: $light_gray;
					width: 100%	;
					margin: 25px 0;
				}
				>.weekly_featured{
					display: flex;
					flex-wrap: wrap;
					>.info_wf{
						width: 50%;
						padding-right: 15px;
						>.sub_name{
							font-size: 18px;
							font-weight: 500;
						}
						>h1{
							font-size: 24px;
							margin: 30px 0 20px;
						}
						>.descr{
							color: $gray;
							font-size: 12px;
							margin-bottom: 20px;
						}
						
					}
					>.top_video{
						width: 50%;
						padding-left: 15px;
					}
				}
			}
		}
	}
}

.title_gray{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	>h2{
		font-size: 18px;
		margin-right: 20px;}
	>.showmore{
		color: $gray;
		cursor: pointer;}
}

#wrapper_content{
	>.left_side{
		#recommended{
			>.top_block{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 25px;
				>.sort{
					font-size: 12px;
					font-weight: 500;}}
			>.catalog{
				display: flex;
				flex-wrap: wrap;
				gap:20px;
				>div{
					flex:1 1 calc((100%/4)-2rem);
					width: 23%;
					margin-bottom: 10px;}
			}
		}
	}
	>.right_side{
		width: 25%;
		padding: $gutter40;
		position: relative;
		.showmore{
			font-size: 12px;
		}
		.video_live_item{
			margin-top: 25px;
		}
		.line{
			background-color: $light_gray;
			height: 1px	;
			width: 100%;
			margin: 30px 0;
		}
		#top_channels{
			margin-bottom: 100px;
			.title_gray{
				margin-bottom: 20px;
			}
			.list_channels{
				>.channel{
					margin-bottom: 20px;
					display: flex;
					align-items: center;
					justify-content: space-between;	
					.info_left{
						display: flex;
						align-items: center;
						>a{
							display: flex;
							justify-content: center;
							align-items: center;
							margin-right: 15px;
							>span{
								margin-right: 15px;
								border-radius: 50%;
							}
						}
						>.info{
							>.name{
								position: relative;
								font-weight: 500;
								
							}
							>.subs{
								color: $gray;
							}
						}
					}
					>.mnu{
						text-decoration: none;
						>img{
							max-width: 10px;
						}
					}	
				}	
			}	
		}				
	}		
				
}			
.verified::after{
	content: '';
	width: 10px;
	height: 10px;
	background-image: url('../../../public/img/common/correct.svg');
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 15px;
	display: inline-block;
	background-size: cover;
}
            