.wrapper{
    position:relative;
    display:inline-flex;
    .form{
        @apply block shadow-lg p-4 absolute right-2 animate-scaleIn w-40 z-20 bg-white rounded-md;
        top: calc(100%+1.4rem);

        .register{
            @apply opacity-40 block text-center w-full;
            font-size:0.7rem;
        }
    }
}
.button{
    text-decoration: none;
    display: inline-flex;
    margin: 0 12px;
    align-items: center;
    justify-content: center;
    >img{
        max-width: 25px;
    }
}